.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
hyperswarm_full_content.txt
hyperswarm_full_content2.txt
hyperswarm_full_content3.txt
hyperswarm_full_content4.txt
hyperswarm_full_content5.txt
hyperswarm_full_content6.txt